/* App.css - Basic Global Resets */

html,
body,
#root {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* Ensures that content doesn't slide under the fixed navbar */
main {
  padding-top: 0px;
}
