.notification-wrapper {
  position: relative;
  display: inline-block;
}

.notification-icon {
  color: #ffffff;
  font-size: 1.5rem;
}

.notification-badge {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: #ef4444; /* red-500 */
  color: #ffffff;
  font-size: 0.75rem; /* text-xs */
  padding: 0 0.4rem;
  border-radius: 9999px;
  font-weight: bold;
}
