/* Home.css */
.home-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f9f7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 640px) {
  .home-main {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .home-main {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
